/*
EFECCA
A7A37E
E6E2AF
046380
002F2F
*/

html {
    background: #046380;
    color: #EFECCA;
    font-family: sans;
    font-size: 18px;
}

video, img {
    border: none;
    border-radius: 4px;
}

button {
    border: none;
    color: #EFECCA;
    background: #046380;
    font-size: 18px;
}
button:hover {
    background: #EFECCA;
    color: #046380;
}

.overlay {
    margin-left: 20px;
    display: inline-block;
    position: relative;
}
.overlay > .fg {
    z-index: 2;
}
.overlay > .bg {
    position: absolute;
    top: 100px;
    left: 85px;
    width: 200px;
    z-index: -999;
}
