/*
    https://color.adobe.com/sandy-stone-beach-ocean-diver-color-theme-15325

    EFECCA
    A7A37E
    E6E2AF
    046380
    002F2F
*/

html {
    background: #046380;
    color: #EFECCA;
    font-family: sans;
    font-size: 18px;
}

html, body, table, td {
    padding: 0;
    margin: 0;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

table {
    table-layout: fixed;
}

#viewfinder {
    display: inline-block;
}

#viewfinder, #lastframe, #preview {
    border: none;
    min-height: 240px;
}

button {
    border: none;
    color: #EFECCA;
    background: #046380;
    font-size: 18px;
    transition: background 0.4s, color 0.4s, transform 0.2s;
    cursor: pointer;
}
button:hover {
    transform: rotate(-3deg);
    rotation: 20deg;
    background: #EFECCA;
    color: #046380;
}

.overlay {
    display: inline-block;
    position: relative;
}
.overlay > .fg {
    z-index: 2;
}
.overlay > .fg-2 {
    position: absolute;
    z-index: 2;
}
.overlay > .bg {
    position: absolute;
    top: 50%;
    z-index: -999;
}
.transparent {
    opacity: 0.5;
}

tr, td {
    vertical-align: top;
}

.main, .main * .overlay, #viewfinder, #lastframe, #preview {
    width: 100%;
}

.hover {
    opacity: 0;
    transition: opacity 0.4s, top 0.2s;
    position: absolute;
    background: #002F2F;
    top: -10px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

img:hover + .hover, .hover:hover {
    top: 50%;
    opacity: 0.9;
    display: block;
}

.hover > button + button {
    margin-left: 40px;
}

.hover > button {
    opacity: 1 ;
    padding: 10px 20px;
    border-radius: 2px;
}

.disabled {
    display: none;
}

#framecontainer {
    overflow: hidden;
    white-space: nowrap;
    background: #002F2F;
    padding: 10px;
    padding-bottom: 2px;
}

#framecontainer:hover {
    overflow-x: auto;
}

#framecontainer > div {
    display: inline-block;
    position: relative;
}

.frame {
    height: 100px;
    margin-right: 15px;
    border-radius: 20px;
}

.remove-frame {
    position: absolute;
    top: -4px;
    right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: solid 1px;
    cursor: pointer;
    line-height: 16px;
    text-align: center;
}

.remove-frame:after {
    content: "x";
}

.instructions {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

#text {
    box-sizing: border-box;
    width: 100%;
    border: none;
    min-height: 80px;
    font-size: 40px;
    padding: 10px 20px;
    background: #046380;
    border: 4px solid #046380;
    transition: background 0.4s, border 0.4s;
    border-radius: 4px;
}
#text:hover {
    border: 4px solid #EFECCA;
}
#text:focus {
    background: #EFECCA;
    border: 4px solid #EFECCA;
}

.version * {
    color: #EFECCA !important;
    font-size: small;
    position: fixed;
    text-decoration: none;
    bottom: 0;
    right: 0;
}
